<h1>Champions of League Of Legends</h1>

<% @champion.each do |t| %>
<%= link_to t.champname, "champion/#{t.id}" %>
<p><%= t.rank.rankname %></p>
<p><%= t.location.locationname %></p>
<p><%= t.mastery.masteryname %></p>
<p><%= t.spell.spellname %></p>

  <ul>
  </ul>
<% end %>
