<h2><%= @champion.champname %></h2>
<p><%= @champion.rank.rankname %></p>
<p><%= @champion.location.locationname %></p>
<p><%= @champion.mastery.masteryname %></p>
<p><%= @champion.spell.spellname %></p>
