<!DOCTYPE html>
<html>
  <head>
    <title>Intro to Rails Project</title>
        <%= link_to "Home", "http://localhost:3000/welcome"%>
        <%= link_to "Champions", "http://localhost:3000/champion"%>
        <%= link_to "Ranks", "http://localhost:3000/rank"%>
        <%= link_to "Spells", "http://localhost:3000/spell"%>
        <%= link_to "Locations", "http://localhost:3000/location"%>
        <%= link_to "Masteries", "http://localhost:3000/mastery"%>
        <%= link_to "About", "http://localhost:3000/about"%>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
